<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.restaurant.servlets.LoginServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <servlet-class>com.restaurant.servlets.ShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderRequestServlet</servlet-name>
        <servlet-class>com.restaurant.servlets.OrderRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagementServlet</servlet-name>
        <servlet-class>com.restaurant.servlets.ProductManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>com.restaurant.servlets.RedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerInfoServlet</servlet-name>
        <servlet-class>com.restaurant.servlets.CustomerInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>mypool</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <servlet-mapping>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <url-pattern>/ShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderRequestServlet</servlet-name>
        <url-pattern>/OrderRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagementServlet</servlet-name>
        <url-pattern>/ProductManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/RedirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerInfoServlet</servlet-name>
        <url-pattern>/CustomerInfoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>RedirectServlet</welcome-file>
    </welcome-file-list>
</web-app>
